/* Import Fonts dari Google Fonts */
@import url('https://fonts.google.com/specimen/Young+Serif');
@import url('https://fonts.google.com/specimen/Outfit');

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif; /* */
  font-size: 16px; /* */
  background-color: var(--stone-100);
  color: var(--stone-600);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.recipe-card {
  background-color: var(--white);
  max-width: 736px;
  margin: 0; /* Full width di mobile */
}

.hero-image img {
  width: 100%;
  display: block;
}

.content {
  padding: 40px;
}

h1 {
  font-family: 'Young Serif', serif; /* */
  color: var(--stone-900);
  margin-bottom: 24px;
}

h2 {
  font-family: 'Young Serif', serif;
  color: var(--brown-800);
  margin-bottom: 16px;
}

p {
  line-height: 1.5;
  margin-bottom: 24px;
}

/* Preparation Card */
.prep-card {
  background-color: var(--rose-50);
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 32px;
}

.prep-card h3 {
  color: var(--rose-800);
  font-size: 20px;
  margin-bottom: 16px;
}

.prep-card ul, .ingredients ul {
  list-style-position: outside;
  margin-left: 20px;
}

.prep-card li, .ingredients li, .instructions li {
  padding-left: 16px;
  margin-bottom: 10px;
}

/* List Styling */
li::marker {
  color: var(--brown-800);
  font-weight: bold;
}

.prep-card li::marker {
  color: var(--rose-800);
}

hr {
  border: 0;
  border-top: 1px solid var(--stone-150);
  margin: 32px 0;
}

/* Nutrition Table */
table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--stone-150);
}

tr:last-child {
  border-bottom: none;
}

td {
  padding: 12px 24px;
}

.stat {
  color: var(--brown-800);
  font-weight: 700;
}

/* Media Query untuk Desktop */
@media (min-width: 736px) {
  body {
    padding: 120px 20px;
  }
  
  .recipe-card {
    border-radius: 24px;
    overflow: hidden;
    padding: 40px; /* Padding di sekitar konten putih di desktop */
  }

  .hero-image img {
    border-radius: 12px;
  }
}

.attribution { margin-top: 20px; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }